@if(!selectedFormGroup){
<div class="no-data-container">
  <div class="message">
    <p>Create New Group</p>
  </div>
</div>
} @else {
<div [formGroup]="selectedFormGroup">
  <div class="header">
    <div class="header-row">
      <input
        type="text"
        class="title-input"
        formControlName="formName"
        placeholder="Add Group Name"
      />
      <div class="action-buttons">
        @if(this.selectedFormGroup.get("formName")?.enabled){
        <fa-icon
          class="action"
          [icon]="faTick"
          (click)="toggleEditMode()"
        ></fa-icon>
        } @else {
        <fa-icon
          class="action"
          [icon]="faEdit"
          (click)="toggleEditMode()"
        ></fa-icon>
        }
        <fa-icon
          class="action"
          [icon]="faCopy"
          (click)="openCopyGroupModel()"
        ></fa-icon>
        <fa-icon
          class="action"
          [icon]="faDelete"
          (click)="openGroupDeleteConfirmModel()"
        ></fa-icon>
      </div>
    </div>
    <input
      type="text"
      class="description"
      formControlName="description"
      placeholder="Add description"
    />
  </div>

  <div formArrayName="fieldArray">
    <div cdkDropList class="field-list" (cdkDropListDropped)="drop($event)">
      @for (field of fieldArrayControls; track $index) {
      <div class="field-box" cdkDrag [formGroupName]="$index">
        <fa-icon [icon]="faGrip"></fa-icon>
        <section class="form-section">
          <div class="row">
            <input
              type="text"
              formControlName="fieldLabel"
              placeholder="Enter field label"
              class="title-input"
            />
            @if(isFieldEditEnabled($index)){
            <fa-icon
              class="action"
              [icon]="faTick"
              (click)="toggleFieldEditMode($index)"
            ></fa-icon>
            } @else {
            <fa-icon
              class="action"
              [icon]="faEdit"
              (click)="toggleFieldEditMode($index)"
            ></fa-icon>
            }
            <fa-icon
              class="action"
              [icon]="faCopy"
              (click)="openFieldCopyModel($index)"
            ></fa-icon>
            <fa-icon
              class="action"
              [icon]="faDelete"
              (click)="openFieldDeleteModel($index)"
            ></fa-icon>
          </div>
          <div class="row">
            <input
              type="text"
              formControlName="fieldDescription"
              placeholder="Enter field description"
              class="description-input"
            />
          </div>
          <div class="row">
            @switch (field.value.fieldType) { @case (fieldTypeEnum.SingleText) {

            <input
              class="value-input"
              type="text"
              formControlName="fieldValue"
              placeholder="Type here ..."
            />
            } @case (fieldTypeEnum.MultiLine) {

            <textarea
              class="value-input"
              formControlName="fieldValue"
              placeholder="Type text here ..."
            >
            </textarea>
            } @case (fieldTypeEnum.Integer) {

            <input
              class="value-input"
              type="number"
              formControlName="fieldValue"
              placeholder="Type Integer here ..."
            />
            } @case (fieldTypeEnum.DatePicker) {

            <input
              class="value-input"
              matInput
              [matDatepicker]="picker"
              formControlName="fieldValue"
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            } @case (fieldTypeEnum.TimePicker) {

            <input
              class="value-input"
              matInput
              [matTimepicker]="picker"
              formControlName="fieldValue"
            />
            <mat-timepicker-toggle matIconSuffix [for]="picker" />
            <mat-timepicker #picker />
            } @case (fieldTypeEnum.DateAndTimePicker) {

            <input
              class="value-input"
              matInput
              placeholder="Choose a date"
              formControlName="fieldValue"
              type="datetime-local"
            />

            } @case (fieldTypeEnum.SingleSelect) {
            <mat-select formControlName="fieldValue" class="value-input">
              @for (food of foods; track food) {
              <mat-option [value]="food.value">{{ food.viewValue }}</mat-option>
              }
            </mat-select>
            } @case (fieldTypeEnum.MultiSelect) {
            <mat-select
              formControlName="fieldValue"
              multiple
              class="value-input"
            >
              @for (food of foods; track food) {
              <mat-option [value]="food.value">{{ food.viewValue }}</mat-option>
              }
            </mat-select>
            } @case (fieldTypeEnum.Dropdown) {
            <mat-select formControlName="fieldValue" class="value-input">
              @for (food of foods; track food) {
              <mat-option [value]="food.value">{{ food.viewValue }}</mat-option>
              }
            </mat-select>
            } @case (fieldTypeEnum.FileUpload) {

            <input
              class="value-input"
              type="file"
              id="fileData"
              name="file Upload"
              formControlName="fieldValue"
            />
            } }
          </div>
        </section>
      </div>
      }
    </div>
  </div>
</div>

} @if(showDeleteConfirmModel){
<div class="modal-overlay">
  <div class="modal">
    <h2 class="modal__header">Delete Form Group</h2>
    <div class="modal__body">
      Are you sure you want to delete the form
      {{ selectedFormGroup.get("formName")?.value }}
    </div>
    <div class="modal__footer">
      <button class="button--cancel" (click)="closeGroupDeleteConfirmModel()">
        Close
      </button>
      <button
        class="button--delete"
        (click)="deleteFormGroupHandler(selectedFormGroup.get('formID')?.value)"
      >
        Delete
      </button>
    </div>
  </div>
</div>
} @if(showGroupCopyConfirmModel){
<div class="modal-overlay">
  <div class="modal">
    <h2 class="modal__header">Create a copy of the Group</h2>
    <div class="modal__body">
      Do you want to create a copy of the Group
      {{ selectedFormGroup.get("formName")?.value }} ?
    </div>
    <div class="modal__footer">
      <button class="button--cancel" (click)="closeCopyGroupModel()">
        Close
      </button>
      <button class="button--confirm" (click)="copyGrouphandler()">
        Confirm
      </button>
    </div>
  </div>
</div>
} @if(showFieldDeleteConfirmModel){
<div class="modal-overlay">
  <div class="modal">
    <h2 class="modal__header">Delete Form Field</h2>
    <div class="modal__body">Are you sure you want to delete this field</div>
    <div class="modal__footer">
      <button class="button--cancel" (click)="closeFieldDeleteConfirmModel()">
        Close
      </button>
      <button class="button--delete" (click)="deleteFieldHandler()">
        Delete
      </button>
    </div>
  </div>
</div>
} @if(showFieldCopyConfirmModel){
<div class="modal-overlay">
  <div class="modal">
    <h2 class="modal__header">Create Copy of Form Field</h2>
    <div class="modal__body">Do you want to create a copy of this field</div>
    <div class="modal__footer">
      <button class="button--cancel" (click)="closeFieldCopyModel()">
        Close
      </button>
      <button class="button--confirm" (click)="fieldCopyHandler()">
        Confirm
      </button>
    </div>
  </div>
</div>
}
