@if(!selectedFormGroup){
<div class="no-data-container">
  <div class="message">
    <p>Create New Group</p>
  </div>
</div>
} @else {
<div [formGroup]="selectedFormGroup">
  <div class="header">
    <div class="header-row">
      <input
        type="text"
        class="title-input"
        formControlName="formName"
        placeholder="Add Group Name"
      />
      <div class="action-buttons">
        <button (click)="toggleEditMode()">
          {{
            this.selectedFormGroup.get("formName")?.enabled ? "Save" : "Edit"
          }}
        </button>
        <button>Copy</button>
        <button>Delete</button>
      </div>
    </div>
    <input
      type="text"
      class="description"
      formControlName="description"
      placeholder="Add description"
    />
  </div>

  <div formArrayName="fieldArray">
    <div cdkDropList class="field-list" (cdkDropListDropped)="drop($event)">
      @for (field of fieldArrayControls; track $index) {
      <div class="field-box" cdkDrag [formGroupName]="$index">
        <input
          type="text"
          formControlName="fieldLabel"
          placeholder="Enter field label"
        />
        <input
          type="text"
          formControlName="fieldDescription"
          placeholder="Enter field description"
        />
        @switch (field.value.fieldType) { @case (fieldTypeEnum.SingleText) {

        <input
          type="text"
          formControlName="fieldValue"
          placeholder="Type here ..."
        />
        } @case (fieldTypeEnum.MultiLine) {

        <textarea formControlName="fieldValue" placeholder="Type text here ...">
        </textarea>
        } @case (fieldTypeEnum.Integer) {

        <input
          type="number"
          formControlName="fieldValue"
          placeholder="Type Integer here ..."
        />
        } @case (fieldTypeEnum.DatePicker) {

        <input matInput [matDatepicker]="picker" formControlName="fieldValue" />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        } @case (fieldTypeEnum.TimePicker) {

        <input matInput [matTimepicker]="picker" formControlName="fieldValue" />
        <mat-timepicker-toggle matIconSuffix [for]="picker" />
        <mat-timepicker #picker />
        } @case (fieldTypeEnum.DateAndTimePicker) {

        <input
          matInput
          placeholder="Choose a date"
          formControlName="fieldValue"
          type="datetime-local"
        />

        } @case (fieldTypeEnum.SingleSelect) { } @case
        (fieldTypeEnum.MultiSelect) {} @case (fieldTypeEnum.Dropdown) {} @case
        (fieldTypeEnum.FileUpload) {

        <input
          type="file"
          id="fileData"
          name="file Upload"
          formControlName="fieldValue"
        />
        } }
        {{ field.value.fieldType }}
      </div>
      }
    </div>
  </div>
</div>

}
