<span class="main-header">Elements</span>
<ul class="category-list scrollable-container">
  @for(element of elementsList; track element){
  <li class="category">
    <div class="category__name">{{ element.categoryName }}</div>
    @for (control of element.controlList; track $index) {
    <div class="item" (click)="fieldSelectionHandler(control)">
      <div class="item__icon">{{ control.icon }}</div>
      <div class="item__details">
        <div class="item__details__name">{{ control.controlName }}</div>
        <div class="item__details__description">
            {{ control.description }}.
        </div>
      </div>
    </div>
    }
  </li>
  }
</ul>
