<div class="left-section">
  <div class="header">
    <h5>Field Groups</h5>
    <button class="action-button" (click)="openNameModel()">Create new</button>
  </div>
  <div class="subtitle">Default field group</div>
  <div cdkDropList class="group-list" (cdkDropListDropped)="drop($event)">
    @if(formGroupsControl.length > 0){ @for(formGroup of formGroupsControl;
    track $index){
    <div class="group-box" cdkDrag (click)="selectFromGroupHandler($index)">
      {{ formGroup.getRawValue().formName }}
    </div>
    } } @else {
    <div class="group-box">No Groups Created</div>
    }
  </div>
</div>

@if(showNameModel){
<div class="modal-overlay">
  <div class="modal">
    <h2 class="modal__header">Create New Form Group</h2>
    <div class="modal__body">
      <input
        type="text"
        [(ngModel)]="newFormName"
        required
        placeholder="Enter Group Name"
        class="input-field"
      />
    </div>
    <div class="modal__footer">
      <button class="button--cancel" (click)="closeNameModel()">Close</button>
      <button
        [disabled]="newFormName === ''"
        class="button--confirm"
        (click)="addFormGroup()"
      >
        Create
      </button>
    </div>
  </div>
</div>
}
