
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}/* You can add global styles to this file, and also import other style files */
// @import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
  margin: 0; /* Reset margin */
  padding: 0; /* Reset padding */
  box-sizing: border-box; /* Ensure padding/border don't affect width/height */
}
.scrollable-container {
  width: 100%;
  height: calc(100vh - 3rem);             
  overflow-y: auto;          
  background-color: #f5f5f5;  

  &::-webkit-scrollbar {
    width: 8px;               
    height: 8px;             
  }

  &::-webkit-scrollbar-thumb {
    background-color: #c1c2c1; 
    border-radius: 8px;        
    border: 2px solid #f5f5f5; 
  }

  &::-webkit-scrollbar-track {
    background-color: #e0e0e0;
    border-radius: 8px;        
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #c8cac8; 
  }

  /* For Firefox */
  scrollbar-color: #cecece #e0e0e0;
  scrollbar-width: thin;          
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); // Semi-transparent overlay
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; // Ensure it stays above other elements
}

.modal {
  background-color: #fff;
  padding: 20px;
  width: 400px;
  max-width: 90%; // Responsive sizing for small screens
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  text-align: center;

  &__header {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }

  &__body {
    margin-bottom: 20px;
    font-size: 1rem;
    color: #333;

    .input-field {
      width: 80%;
      padding: 10px;
      margin-top: 10px;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 1rem;
      transition: border-color 0.3s ease;

      &:focus {
        border-color: #6c6c6c; // Green border on focus
        outline: none;
        box-shadow: 0 0 4px rgba(76, 175, 80, 0.3);
      }
      &:invalid{
          border-color: #f9a3a3;
      }
    }
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;

    .button--confirm {
      padding: 10px 20px;
      background-color: #1162f8;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 0.9rem;
      transition: background-color 0.3s;

      &:hover {
        background-color: #2686d4;
      }
      &:disabled{
          background-color: #2686d4;
          cursor: not-allowed;
      }
    }

    .button--cancel {
      padding: 10px 20px;
      background-color: #909090;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 0.9rem;
      transition: background-color 0.3s;

      &:hover {
        background-color: #a0a0a0;
      }
    }

    .button--delete{
      padding: 10px 20px;
      background-color: #e02020;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 0.9rem;
      transition: background-color 0.3s;

      &:hover {
        background-color: #bd2222;
      }
    }
  }
}
